*{
    padding: 0;
    margin: 0;
}

nav{
    float: right;
}

nav li{
    float: right;
    list-style: none;
    margin:10px;
    padding-right: 30px;
}

.top-wrapper{
    padding: 10px;
}

.top-wrapper{
    padding-left: 30px;
}

h2{
    font-size: 30px;
    margin: 60px 0;
    text-decoration: underline;
    padding: 15px;
    text-align: center;
}

.me img{
    border-radius: 50%;
    width:150px;
    height: 150px;
}

.contents img{
    size:200px;
}
.content{
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin-bottom: 60px;
}


